wiki-small
/RI-tknz-data
terminos.txt
estadisticas.txt
frecuencias.txt
terminosLancaster.txt
terminosPorter.txt
languageIdentificationData
terminosQuijote.txt
pg2000.txt
Quijote.txt
/TestCollection
archivo_salida.txt
index.txt
collection_data.json
collection_test_ER2/
reference.txt
index/
reference.pickle
dictionary.pickle
index.bin
dictionary.pickle